
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topnav {
    background-color:black;
    text-align: center;
    color:white;
}

.btn {
  background-color: #0d6efd !important;
  color: white;
  border-color: white;
}

.ui-datepicker *{
  color: black;
  background-color: #f8f9fa !important;
  font-family: -apple-system, system-ui, BlinkMacSystemFont !important;
  font-weight: normal;

}

.ui-widget-header, .ui-state-default, .ui-widget-content .ui-state-default.ui-state-default {
  color: black;
  background: white !important;
  border: black !important;
  font-family: -apple-system, system-ui, BlinkMacSystemFont !important;
}

apple-pay-button {
  --apple-pay-button-width: 176px;
  --apple-pay-button-height: 30px;
  --apple-pay-button-border-radius: 3px;
  --apple-pay-button-padding: 0px 0px;
  --apple-pay-button-box-sizing: border-box;
}

#panel, #flip {
  padding: 5px;
  text-align: center;
 
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 10px;
  display: none;
}

.sticky {
	background-color: #ffffff;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  z-index: 10;
}

.map-container-2{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  
.map-container-2 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}